*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* clock */
.clock{
    max-width: 20px;
    border-radius: 50%;
}

.wrapper,.header, .content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background-color: rgb(255, 140, 140);
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    justify-content: space-between;
    margin: 10px 0;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3); /
}
.wrapper h1{
    font-size: 15px;
    font-weight: 700;
    margin: 5px;
    color: #002765;
}
.wrapper .content{
    margin-right:-65px;
}
.wrapper .content.disable{
    opacity: 0.6;
    pointer-events: none;
}
.content .column{
    border: 1px solid #999;
    width: 60px;
}
.column select{
    outline: none;
    border: none;
    height: 22px;
    width: 100%;
    font-size: 12px;
    text-align: center;
}
#alarmBtn{
    width: 20%;
    height: 22px;
    outline: none;
    border: none;
    font-size: 13px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #358af1;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
}
#alarmBtn:hover{
    background-color: #355891;
    color: #fff;
    box-shadow: inset 5px 10px 2px rgba(0, 0, 0, 0.3); 
}

/* -----todo----- */
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4e085f,#ff5945, #4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: #ffffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: inset 10px 10px 15px rgba(0, 0, 0, 0.3); 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); 
    filter: drop-shadow(-5px -5px 5px rgba(0, 0, 0, 0.5));
}
.todo-app .header-content h2{
    color: #002765;
    display: flex;
    align-items: center;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
    filter: drop-shadow(-2px -2px 2px black);
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    box-shadow: inset 10px 15px 15px rgba(0, 0, 0, 0.3); 
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.todobtn{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: inset 0px 15px 15px rgba(0, 0, 0, 0.3); 
}
.todobtn:hover{
    background-color: #f8311b;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 80px 12px 50px;
    margin-bottom: 5px;
    user-select: none;
    cursor: pointer;
    background: #edeef0;
    position: relative;
    border-radius: 40px;
}
ul li:hover{
    box-shadow: inset 0px 15px 15px rgba(0, 0, 0, 0.3); 
}
ul li::before{
    content:  '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(img/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 0px;
    width: 40px;
    height: 100%;
    padding-top: 2.5px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
ul li span:hover{
    background: #ffffff;
    box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.3); 
}